/*  CSS Document                                               */
/*  Main CSS for the layout and style of the deers plugin */

.deers { height: 500px; width: 80% background-color: #ddd; }
.deers * { font-family: 'Source Sans Pro'; }

.deers .deers_data { display: none; }

.deers .deers_stage_large { height: inherit; position: relative; overflow: hidden; }

.deers .deers_container_1, .deers .deers_container_2 { height: inherit; position: absolute; top: 0px; left: 0px; width: 100%; }
.deers .deers_container_1 { z-index: 101; }
.deers .deers_container_2 { z-index: 102; }

.deers .deers_panel { height: inherit; position: absolute; top: 0px; left: 0px; width: 100%; text-align: center; background-repeat: no-repeat; background-position: 100% 0px; }

.deers .deers_panel .panel_caption {
	width: 400px;
	background: rgba(255,255,255,.85);
	position: absolute; bottom: 0px; left: 15%;
	text-align: left;
	padding: 15px 15px 65px 20px; 
	border-top: 6px solid #fff;
	border-left: 6px solid #fff;
	border-right: 6px solid #fff; 
}
.deers .deers_panel .panel_caption * { color: #000000; line-height: 20px; }
.deers .deers_panel .panel_caption h3 { margin: 0px 0px 8px 0px; font-weight: normal; font-size: 1.8em; }
.deers .deers_panel .panel_caption p { margin: 0px 0px 15px 0px; color: #888; font-size: 1.1em; }
.deers .deers_panel .panel_caption a, .deers .deers_panel .panel_caption a:visited { color: #000000; text-decoration: underline; }
.deers .deers_panel .panel_caption a:hover { text-decoration: none; }

.deers .deers_nav { z-index: 103; position: absolute; bottom: 20px; left: 15%; text-align: left; width: 400px; padding: 0px 0px 0px 23px; }
.deers .deers_nav div {
	transition: background-color 1s linear;
	display: inline-block; width: 15px; height: 15px;
	background-color: rgba(255,255,255,.8);
	border: 2px solid #888;
	border-radius: 50%;
	margin: 0px 10px 0px 0px;
	cursor: pointer;
}

.deers .deers_nav div:hover { background-color: rgba(0,0,0,.2); transition: background-color .1s linear; }

.deers .deers_nav div.selected { background-color: rgba(0,0,0,.5); }

/*  small screen */
.deers .deers_stage_small { height: inherit; position: relative; overflow: hidden; }
.deers .deers_stage_small .deers_panel { height: inherit; position: absolute; top: 0px; left: 0px; width: 100%; }

.deers .deers_stage_small .deers_panel .panel_content { display: none; }

@media screen and (max-width: 600px) {

	.deers { height: 200px; }
	.deers .deers_panel { background-size: cover; background-position: 75% 0px; }
	.deers .deers_panel .panel_caption { width: 75%; margin: 0px; padding: 10px 10px 10px 10px; text-align: center; }
	.deers .deers_panel .panel_caption h3 { font-size: 1.4em; }
	
}

